body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4, nav, p, blockquote, div, img, hr {
  width: 740px;
  margin: 0 auto;
}

h1, h2, h3, p, ul,ol, blockquote, div,{
   margin: 20px auto;
   padding-top: 20px;
}

h1, h2, h3 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
  font-size: 24px;
}

h1 {
  margin-top: 16px;
  font-size: 40px; line-height: 45px;
  text-align: center;
  color: #080019;
  padding: 16px;
}

h2 {
  margin-top: 16px;
  font-size: 32px;
  color: #080019;
}
h3 {
  margin-top: 16px;
  font-size: px;
  color: #080019;
}
h4 {
  margin-top: 8px;
  font-size: 26px;
  color: #080019;
  text-align: center;

}
.text{
  margin-top: 8px;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #080019;
  padding-top:2px;
}

a{
  color: #8D95FF;
  text-decoration: none;
  font-weight: bold;
}
blockquote {
  font-style: italic;
  margin-top: 8px;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #080019;
  padding: 8px;
  opacity: 0.5;
}
.text3{
  margin-top: 0px;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #080019;
}

.menubar{
    width: 94%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background: white;
    box-shadow: 0px 5px 10px -20px #BCBCBC;
    padding-left: 40px;
    padding-right: 40px;

  }

img{
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.menubar img{
  width: 40%;
  height: 40%;
}

.logo {
  text-decoration: none;
  color: #aaa;
}

.logotype {
  text-decoration: none;
  color: #aaa;
  padding-right: 20px;
}
